header{
    background-image: url(../img/pattern.png);
    background-color: #4E9FFF;
    background-size: contain;
    height: 100px;
}

.logo{
    height: 50px;
    margin-top: 45px;
    margin-left: 25px;
}

.immagini-tim{
    margin-top: 25px;
}

